<h2>File Information</h2>
<div class="file-info">
  <span>Provider: </span> <span>{{ providerName$ | async }}</span>
</div>
<div class="file-info">
  <span>Reporting Period: </span>
  <span
    >{{ submission.coverage_start | slice: 0:10 | date }} to
    {{ submission.coverage_end | slice: 0:10 | date }}</span
  >
</div>
<div class="file-info">
  <span>File Name: </span> <span>{{ submission.file_name }} </span>
</div>
<div class="file-info">
  <span>Submission Date: </span>
  <span>{{ submission.created_at | slice: 0:10 | date }} </span>
</div>
