<ul class="breadcrumbs">
  <li>
    <a routerLink="/data-governance" routerLinkActive="active"
      >Data Governance</a
    >
  </li>
  <li>Business Glossary</li>
</ul>
<h1>Business Glossary</h1>
<p><a (click)="scrollToElement(Assessment)">Assessment Tool</a></p>
<p><a (click)="scrollToElement(Federal)">Federal Report</a></p>
<p><a (click)="scrollToElement(Healthcare)">Healthcare</a></p>
<p><a (click)="scrollToElement(Organization)">Organization</a></p>
<p><a (click)="scrollToElement(Program)">Program</a></p>
<p><a (click)="scrollToElement(System)">System</a></p>
<p><a (click)="scrollToElement(Technology)">Technology</a></p>

<section>
  <h2 #Assessment>Assessment Tools</h2>
  <dl>
    <dt>ASAM Criteria Level of Care</dt>
    <dd>
      A comprehensive set of guidelines set by the American Society of Addiction
      Medicine (ASAM), for placement, continued stay, and transfer/discharge of
      patients with SUD and co-occurring conditions. The level of care (LOC) for
      an SUD patient is driven by ASAM criteria. ASAM CO-Triage is a
      computer-guided provisional referral tool designed to generate an initial
      level of care placement for individuals with substance use problems, used
      by all SUD providers in the District. ASAM CONTINUUM is an assessment tool
      composed of structured interview for individuals with addictive and
      co-occurring conditions, to support specific clinical decisions.
    </dd>
    <dt>CAFAS</dt>
    <dd>
      Child and Adolescent Functional Assessment Scale (CAFAS) is a tool to
      assess a child or youth's day-to-day functioning across critical life
      subscales in 8 domains and to determine whether a youth's functioning
      improves over time. It's designed for ages 5-19.
    </dd>
    <dt>DLA-20</dt>
    <dd>
      The Daily Living Activities-20 (DLA-20) is a comprehensive functional
      assessment and outcome measurement tool, recommended to be used by all
      behavioral health providers in the District, to measure clients' level of
      functioning in various daily living activities (20 activities) and their
      progress.
    </dd>
    <dt>GPRA Document</dt>
    <dd>
      The Government and Performance Results Act (GPRA) document is a tool that
      collects data on a client's behavior and activities. GPRA was enacted in
      1993 to monitor and improve government performance and requires SAMSHA to
      collect data on federally funded programs. Providers use GPRA document to
      survey clients. This tool sets performance goals, as well as measures
      client outcomes and progress in the enrolled program.
    </dd>
    <dt>PECFAS</dt>
    <dd>
      Preschool and Early Childhood Functional Assessment Scale (PECFAS) is a
      tool developed based on CAFAS but for children who are not yet enrolled in
      a full-day kindergarten or first grade. PECFAS has 7 domains.
    </dd>
  </dl>
</section>
<section>
  <h2 #Federal>Federal Reports</h2>
  <dl>
    <dt>NOMS</dt>
    <dd>
      National Outcome Measures (NOMS) are SAMSHA defined client- level measures
      for discretionary programs providing direct services. The SAMHSA Center
      for Mental Health Services (CMHS) NOMs are client level measures for
      discretionary programs providing direct services to adults. CMHS grantees
      that provide direct services collect data from each consumer who receives
      grant-funded services. Grantees collect these data from individual
      consumers using the NOMs Client-level Measures tool, also known as the
      Services tool. Data are collected throughout a consumer's episode of care
      in 10 domains.
    </dd>
    <dt>TEDS</dt>
    <dd>
      Treatment Episode Data Set (TEDS) is a compilation of client-level
      substance abuse and mental health treatment admission and discharge data
      submitted by states to Substance Abuse and Mental Health Services
      Administration (SAMHSA) on clients treated in facilities that receive
      state funds.
    </dd>
    <dt>URS</dt>
    <dd>
      Uniform Reporting System (URS) is data that states report annually to the
      Substance Abuse and Mental Health Services Administration (SAMHSA) to
      support the Community Mental Health Services Block Grant program.
    </dd>
  </dl>
</section>
<section>
  <h2 #Healthcare>Healthcare</h2>
  <dl>
    <dt>21st Century Cures Act</dt>
    <dd>
      The Cures Act (Pub. L. No. 114-255 (2016)), is a federal law designed to
      streamline the development and delivery of medications and other medical
      devices, accelerate research into serious illnesses, address the opioid
      crisis and improve mental health services. The 21st Century Cures Act
      specifies the API Conditions of Certification of an electronic health
      record system, which seeks to minimize the 'special effort' necessary to
      access, exchange, and use electronic health information via certified API
      technology.
    </dd>
    <dt>ADT</dt>
    <dd>
      The admission, discharge and transfer (ADT) process, a provider's policies
      and procedures governing the admission, discharge and transfer (ADT) of
      clients.
    </dd>
    <dt>BH</dt>
    <dd>
      Behavioral Health (BH) is an umbrella term that includes both mental
      health (MH) and substance use (SU) related conditions, life stressors,
      stress-related physical symptoms, and health behaviors.
    </dd>
    <dt>BHSD</dt>
    <dd>
      Behavioral Health Supplemental Data (BHSD) is a compilation of
      client-level BH treatment service data submitted to DBH by the District's
      DBH-certified MH and SUD providers.
    </dd>
    <dt>COD</dt>
    <dd>
      Co-occurring Disorder (COD) refers to having a co-existing MH and SUD.
    </dd>
    <dt>
      DC Section 1115 Medicaid Behavioral Health Transformation Demonstration
    </dt>
    <dd>
      Section 1115 of the Social Security Act gives the Secretary of Health and
      Human Services authority to approve experimental, pilot, or demonstration
      projects that are found by the Secretary to be likely to assist in
      promoting the objectives of the Medicaid program. The District has been
      approved for a demonstration which allows the District's Medicaid program
      to pay for services provided to adults with serious mental illness
      (SMI)/serious emotional disturbance (SED) or substance use disorder (SUD)
      residing in an institution for mental disease (IMD), along with
      community-based services designed to improve behavioral health treatment
      capacity and strengthen transitions from emergency, inpatient and
      residential treatment.
    </dd>
    <dt>HIPAA</dt>
    <dd>
      Health Insurance Portability and Accountability Act of 1996 (HIPPA) are
      federal law and implementing regulations that establish national standards
      to protect sensitive patient health information from being disclosed
      without the patient's consent or knowledge.
    </dd>
    <dt>IC</dt>
    <dd>
      Integrated Care (IC) is a systematic approach to provide whole person
      person-centered care for a defined population that coordinates physical
      and behavioral healthcare through a team of primary care and behavioral
      health clinicians, working with patients and families. Integrated care
      models ensure that mental health, substance abuse, primary care and
      specialty services are coordinated and delivered in a manner that is most
      effective to caring for people with multiple healthcare needs and produces
      the best outcomes.
    </dd>
    <dt>ICD</dt>
    <dd>
      International Classification of Disease (ICD) is a standardized diagnostic
      tool for epidemiology, health management and clinical purposes maintained
      by the World Health Organization. The 10th edition (ICD-10) is used for
      Medicaid claim processes and BHSD rules on diagnosis data fields are
      constructed based on ICD-10.
    </dd>
    <dt>Managed Care</dt>
    <dd>
      Managed Care is a health care delivery system organized to manage cost,
      utilization, and quality. Medicaid managed care provides for the delivery
      of Medicaid health benefits and additional services through contracted
      arrangements between state Medicaid agencies and managed care
      organizations (MCOs) that accept a set per member per month (capitation)
      payment for these services.
    </dd>
    <dt>MHRS</dt>
    <dd>
      Mental Health Rehabilitation Services (MHRS) are rehabilitative services
      provided by DBH-certified MHRS providers to clients in accordance with the
      District of Columbia State Medicaid Plan, the DBH Memorandum of
      Understanding with the Department of Health Care Finance and 22-A District
      of Columbia (DCMR) Chapter 34.
    </dd>
    <dt>MLR</dt>
    <dd>
      Medical Loss Ratio - A component of the rate setting approach meant to
      protect Medicaid from paying for excessive health plan administrative
      expenses or profits by ensuring that a sufficient percentage of the total
      capitation is spent on services or quality improvement.
    </dd>
    <dt>NPI</dt>
    <dd>
      National Provider Identifier (NPI) is a unique identification number for
      covered health care providers and practitioners that is provided by the
      Center for Medicare and Medicaid Services.
    </dd>
    <dt>SDH or SDoH</dt>
    <dd>
      The social determinants of health (SDH or SDoH) are the non-medical
      factors that influence health outcomes. They are the conditions in which
      people are born, grow, work, live, and age, and the wider set of forces
      and systems shaping the conditions of daily life. These forces and systems
      include economic policies and systems, development agendas, social norms,
      social policies and political systems. (World Health Organization)
    </dd>
    <dt>SED</dt>
    <dd>
      Serious Emotional Disturbances (SED) is a term to describe a child or an
      adolescent under the age of 18, who has a diagnosable mental, behavioral
      or emotional disorder of sufficient duration to meet diagnostic criteria
      specified within DSM-V, that resulted in functional impairment which
      substantially interferes with or limits the child's role or functioning in
      family, school or community activities.
    </dd>
    <dt>SMI</dt>
    <dd>
      Serious Mental Illness (SMI) is a term to describe an adult with a mental,
      behavioral, or emotional disorder resulting in serious functional
      impairment, which substantially interferes with or limits one or more
      major life activities.
    </dd>
    <dt>SUD</dt>
    <dd>
      Substance Use Disorder (SUD) is a chronic relapsing disease characterized
      by a cluster of cognitive, behavioral, and psychological symptoms
      indicating that the client continues to be using a substance despite
      significant substance-related problems. A DBH-certified SUD provider
      specializes in SUD treatment services such as detoxification, residential
      treatment, and outpatient services based on the individual's needs and
      level of care.
    </dd>
    <dt>WPC</dt>
    <dd>
      Whole-Person Care (WPC) is the patient-centered optimal use of diverse
      healthcare resources to deliver the physical, behavioral, emotional, and
      social services required to improve care coordination, well-being, and
      health outcomes while respecting patients' treatment choices.
    </dd>
  </dl>
</section>
<section>
  <h2 #Organization>Organization</h2>
  <dl>
    <dt>CBO</dt>
    <dd>
      Community-Based Organizations (CBOs) are not-for-profit resource hubs that
      provide specific services to the community or to a targeted population
      within that community
    </dd>
    <dt>CMS</dt>
    <dd>
      Centers for Medicare & Medicaid Services (CMS), a branch of the U.S.
      Department of Health and Human Services (HHS), administers the Medicare
      program and works in partnership with state governments to administer
      Medicaid, the Children's Health Insurance Program (CHIP), and health
      insurance portability standards (HIPPA).
    </dd>
    <dt>CRISP</dt>
    <dd>
      Chesapeake Regional Information System for our Patients (CRISP) is a
      nonprofit organization created to function as the District's designated
      health information exchange (HIE). CRISP currently serves as the HIE for
      multiple states including the District of Columbia and Maryland
    </dd>
    <dt>CSA</dt>
    <dd>
      Core Service Agency (CSA) is a classification for health care provider
      agencies contracted with DBH to deliver Mental Health Rehabilitation
      Services, and provide community-based or in-home services for children
      with severe social/emotional disorder diagnoses, offering the four core
      services (diagnostic assessments, medication management, community
      support, and counseling) in the District.
    </dd>
    <dt>CSOSA</dt>
    <dd>
      Court Services and Offender Supervision Agency (CSOSA) is a federal agency
      with the distinctly local mission of supervising adults on probation,
      parole, and supervised release in the District of Columbia.
    </dd>
    <dt>DBH</dt>
    <dd>
      The District of Columbia Department of Behavioral Health (DBH) provides
      prevention, intervention, treatment services and support for children,
      youth and adults with mental and/or substance use disorders including
      emergency psychiatric care and community-based outpatient and residential
      services in the District.
    </dd>
    <dt>DHCF</dt>
    <dd>
      The District of Columbia Department of Health Care Finance (DHCF) is the
      District of Columbia's state Medicaid agency. DHCF also administers
      insurance programs for immigrant children, the State Child Health
      Insurance Program (S-CHIP or CHIP) and Medical Charities (a locally funded
      program).
    </dd>
    <dt>HHS</dt>
    <dd>
      The United States Department of Health and Human Services (HHS) is
      responsible for protecting the public's health and providing important
      services, especially for people in need. Both CMS and SAMHSA are HHS
      branches.
    </dd>
    <dt>ONC</dt>
    <dd>
      Office of the National Coordinator for the HHS Health Information
      Technology (ONC), a federal entity, leads national health information
      technology efforts to implement use of the most advanced health
      information technology and the electronic exchange of health information.
    </dd>
    <dt>SAMHSA</dt>
    <dd>
      Substance Abuse and Mental Health Services Administration (SAMHSA), a
      branch of the U.S. Department of Health and Human Services (HHS). SAMHSA
      is charged with improving the quality and availability of treatment and
      rehabilitative services to reduce illness, death, disability, and the cost
      to society resulting from substance use and mental illnesses. SAMHSA
      provides federal funds for behavioral health services to all states and
      the District of Columbia via the Community Mental Health Services Block
      Grant (MHBG) program and the Substance Abuse Prevention and Treatment
      Block Grant (SABG) program.
    </dd>
    <dt>SEH</dt>
    <dd>
      St Elizabeths Hospital (SEH), aka St. Es, is the District's public
      psychiatric facility for individuals with serious and persistent mental
      illness who need intensive inpatient care to support their recovery. Saint
      Elizabeths also provides mental health evaluations and care to patients
      committed by the courts.
    </dd>
  </dl>
</section>
<section>
  <h2 #Program>Program</h2>
  <dl>
    <dt>ACT</dt>
    <dd>
      Assertive Community Treatment (ACT) is a service-delivery model that
      provides comprehensive, locally based treatment to people with serious and
      persistent mental illnesses.
    </dd>
    <dt>AHL</dt>
    <dd>
      Access HelpLine (AHL) is the District's behavioral health hotline
      (888-793-4357) is a 24-hour, seven-days-a-week telephone line staffed by
      behavioral health professionals who can refer a caller to immediate help
      or ongoing care. AHL can activate mobile crisis teams to respond to adults
      and children who are experiencing a psychiatric or emotional crisis and
      are unable or unwilling to travel to receive behavioral health services.
    </dd>
    <dt>Alliance</dt>
    <dd>
      The DC Healthcare Alliance Program (the Alliance) is a locally funded
      program that provides medical assistance to District residents who have no
      other health insurance and are not eligible for Medicaid or Medicare.
    </dd>
    <dt>ARC</dt>
    <dd>
      The Assessment and Referral Center (ARC) under DBH provides same day
      walk-in assessment and referral for individuals seeking treatment for
      substance use disorders in the District. Qualified clinicians and nurses
      conduct a comprehensive assessment that includes the nature of the
      addiction, use history, any mental health care needs, and overall health
      status.
    </dd>
    <dt>ASTEP</dt>
    <dd>
      Adolescent Substance Abuse Treatment Expansion Program (ASTEP) of DBH
      offers four locations where young people can go to seek help for a drug or
      alcohol issue. If a young person, under the age of 21, lives in DC and
      needs help or just wants to talk to someone about his/her drug or alcohol
      use, he/she can contact one of the treatment providers which are available
      through a network of providers.
    </dd>
    <dt>CBI</dt>
    <dd>
      Community Based Interventions (CBIs) refer to programs and initiatives
      that aim to improve the health and well-being of specific population
      groups within a defined local community
    </dd>
    <dt>ChAMPS</dt>
    <dd>
      Child and Adolescent Mobile Psychiatric Service - Operates 24 hours a day,
      seven days per week to help children and youth between six to 17 years of
      age manage extreme emotional behavior and support families to prevent
      behavior from resulting in the child needing to leave the home or require
      a psychiatric hospitalization.
    </dd>
    <dt>CIO</dt>
    <dd>
      Crisis Intervention Officer Program - The Crisis Intervention Officer
      (CIO) program in DB began in 2009 as a collaborative effort between the
      Metropolitan Police Department (MPD) and DBH. Nationally, the program is
      called Crisis Intervention Teams (CIT), but the District elected to
      certify individual officers as CIOs rather than teams of officers with the
      intent of decreasing response time and providing the specialized training
      to more officers. In addition to MPD, officers from multiple law
      enforcement agencies within the District have attended the 40-hour
      training including, but not limited to: U.S. Secret Service, U.S. Capitol
      Police, DC Protective Services Police Department, Amtrak, Consortium of
      University Police, DC Housing Police, U.S. Park Police, and Metro Transit
      (WMATA).
    </dd>
    <dt>CPEP</dt>
    <dd>
      Comprehensive Psychiatric Emergency Program (CPEP) is a twenty-four
      hour/seven day a week operation that provides emergency psychiatric
      services and extended observation beds for individuals 18 years of age and
      older.
    </dd>
    <dt>CRS</dt>
    <dd>
      Community Residential Services (CRS) assists adults with mental health and
      substance abuse issues by providing them with independent living
      opportunities while they continue to receive support and services from our
      attentive, professional staff.
    </dd>
    <dt>CRT</dt>
    <dd>
      Community Response Team (CRT) is a 24-7 multidisciplinary direct service
      team that expands our community based direct service
      efforts&ndash;including homeless outreach, mobile crisis, and pre-arrest
      diversion. The DC CRT supports adults who are experiencing emotional,
      psychiatric or substance use vulnerabilities to promote service engagement
      and overall behavioral health and wellness.
    </dd>
    <dt>DC MAP</dt>
    <dd>
      DC Mental Health Access in Pediatrics (MAP) is a psychiatric consultation
      program that connects pediatric primary care providers to a mental health
      consultation team.
    </dd>
    <dt>FSMHC</dt>
    <dd>
      Free Standing Mental Health Clinic (FSMHC), established under the District
      Medicaid State Plan as a clinic service provides mental health services to
      the eligible community in the District. FSMHCs are independent of the MHRS
      program and the eligibility criteria are less strict. It emphasizes
      coordination of care and outpatient and community-based treatment to
      reduce the need for inpatient services.
    </dd>
    <dt>MHGPS</dt>
    <dd>
      My Health GPS (MHGPS) s a Health Homes program launched by DHCF to deliver
      care coordination services to Medicaid beneficiaries with multiple chronic
      conditions. The MHGPS program was led by multi-disciplinary teams within
      the primary care setting to coordinate care across medical, behavioral,
      and social service systems. T he initiative was designed to improve MHGPS
      enrollees' health outcomes and reduce avoidable and preventable hospital
      admissions and emergency room visits.
    </dd>
    <dt>ICP</dt>
    <dd>
      Immigrant Children's Program - Locally funded medical assistance program
      for immigrant children.
    </dd>
    <dt>Medicaid</dt>
    <dd>
      Medicaid is a joint federal/state health insurance program providing
      health coverage to low-income and/or disabled individuals and families.
    </dd>
  </dl>
</section>
<section>
  <h2 #System>System</h2>
  <dl>
    <dt>Avatar</dt>
    <dd>
      Electronic health records system for Saint Elizabeths Hospital (SEH)
    </dd>
    <dt>Comagine Health Provider Portal</dt>
    <dd>
      A web-based application used by SUD residential treatment service
      providers to submit requests for prior authorization of services in the
      District.
    </dd>
    <dt>CRISP</dt>
    <dd>
      Chesapeake Regional Information System for our Patients - CRISP is the
      regional health information exchange (HIE) for the District of Columbia
      and Maryland. CRISP connects health care providers with technology to
      improve patient care and outcomes by appropriately and securely sharing
      healthcare data to facilitate care, reduce costs and improve health
      outcomes.
    </dd>
    <dt>CRISP DC HIE</dt>
    <dd>
      Chesapeake Regional Information for our Patients (CRISP) DC is the
      District's designated Health Information Exchange (HIE) that facilitates
      the electronic transfer of clinical information between health information
      systems.
    </dd>
    <dt>DATA WiTS</dt>
    <dd>
      District Automated Treatment Accounting Workflow information Tracking
      System - Electronic health records system for substance use services.
      Providers record substance use disorder (SUD) discharge data in DATA WITS
      to support the Department's ability to track and analyze system data and
      outcomes.
    </dd>
    <dt>DATA WITS (WITS)</dt>
    <dd>
      An EHR system that is currently used by DBH-certified SUD providers.
    </dd>
    <dt>EHR</dt>
    <dd>
      An Electronic Health Record (EHR) is a digital version of a patient's
      paper chart. EHRs are real-time, patient-centered records that make
      information available instantly and securely to authorized users. A
      certified EHR is an EHR system that demonstrates the technological
      capability, functionality, and security requirements specified by the
      Secretary of Health and Human Services and has received certification by
      the Office of the National Coordinator (ONC).
    </dd>
    <dt>HIE</dt>
    <dd>
      Health information Exchange (HIE) is an electronic system that facilitates
      the electronic transmission of healthcare-related data among medical
      facilities, health information organization and government agencies
      according to national standards.
    </dd>
    <dt>iCAMS</dt>
    <dd>
      A customized version of Credible, an EHR system that is currently used by
      the DBH-certified MHRS providers.
    </dd>
    <dt>Incedo</dt>
    <dd>Medical billing software (formerly called eCura) used by DBH.</dd>
    <dt>ITE</dt>
    <dd>
      Integrated Technology Engine (ITE) is a technology solution aligned with
      DBH's business process that will consolidate accurate and timely
      behavioral health data, enabling DBH managers and staff to make informed
      decisions supporting the District's vision of population health and
      whole-person care.
    </dd>
    <dt>Provider Gateway</dt>
    <dd>
      Provider Gateway, a component of the ITE, is a tool for DBH-certified
      providers to submit and validate BHSD from EHR systems.
    </dd>
    <dt>SPARS</dt>
    <dd>
      SAMHSA's Performance Accountability and Reporting System - An online data
      entry, reporting, technical assistance request, and training system to
      support grantees in reporting timely and accurate data to SAMHSA. Used for
      NOMS data entry and reports.
    </dd>
  </dl>
</section>
<section>
  <h2 #Technology>Technology</h2>
  <dl>
    <dt>API</dt>
    <dd>
      Application Programming Interface (API) is a set of functions that allows
      applications to access data and interact with external software
      components, operating systems, or microservices.
    </dd>
    <dt>CSV</dt>
    <dd>
      A Comma-Separated Value (CSV) file is a text file that uses a comma to
      delimit or separate individual values. Each line of the file is a data
      record. Each record consists of one or more fields, separated by commas.
    </dd>
    <dt>EDI</dt>
    <dd>
      Electronic Data Interchange (EDI) is the concept of businesses
      electronically communicating information that was traditionally
      communicated on paper. Technical standards for EDI exist to facilitate
      parties transacting such instruments without having to make special
      arrangements.
    </dd>
    <dt>ETL</dt>
    <dd>
      Extract, transform and load (ETL) refers to data integration processes
      that combine, filter and shape data from external sources into a form
      suitable for data warehouse or other target systems.
    </dd>
    <dt>FHIR</dt>
    <dd>
      Fast Healthcare Interoperability Resources (FHIR) is a resource standard
      describing data formats and elements and application programming interface
      for exchanging electronic health records. The standard was created by the
      Health Level Seven (HL7) International health-care standards organization.
    </dd>
    <dt>HL7</dt>
    <dd>
      Health Level Seven (HL7) is a set of international standards for transfer
      of clinical and administrative data between software applications used by
      various healthcare providers.
    </dd>
    <dt>Hub</dt>
    <dd>
      A data hub (the Hub) is as a centralized system for data storage,
      definition, and delivery. It is a center of data exchange supported by
      data science, data engineering and data warehouse technologies to interact
      with endpoints.
    </dd>
    <dt>MMIS</dt>
    <dd>
      Medicaid Management Information System - Mechanized claims processing and
      information retrieval systems.
    </dd>
    <dt>SDLC</dt>
    <dd>
      Software Development Life Cycle - The Software Development Life Cycle
      refer to a methodology with clearly defined processes for creating
      high-quality software, in detail the SDLC methodology focuses on the
      following phases: requirement analysis, design, implementation & coding,
      testing and maintenance.
    </dd>
  </dl>
</section>
