<h1>External Data Resources</h1>
<p>
  The following are external links that are maintained outside of the ITE
  Portal, meant to be used as resources.
</p>

<h2>Public Behavioral Health Data</h2>
<ul>
  <li>
    <a href="https://www.datafiles.samhsa.gov/"
      >SAMHSA Substance Abuse and Mental Health Data Archive</a
    >
  </li>
  <li>
    <a href="https://www.cdc.gov/brfss/index.html"
      >CDC Behavioral Risk Factor Surveillance System (BRFSS)</a
    >
  </li>
  <li>
    <a
      href="https://www.cdc.gov/nchs/covid19/health-care-access-and-mental-health.htm"
      >CDC Household Pulse Survey</a
    >
  </li>
  <li>
    <a href="https://www.cdc.gov/nchs/index.htm"
      >National Center for Health Statistics</a
    >
  </li>
  <li>
    <a href="https://www.cdc.gov/healthyyouth/data/yrbs/index.htm"
      >Risk Behavior Surveillance System (YRBSS)</a
    >
  </li>
  <li>
    <a href="https://www.nimh.nih.gov/health/statistics"
      >NIH Mental Health Statistics</a
    >
  </li>
</ul>
<h2>District of Columbia Data</h2>
<ul>
  <li>
    <a href="https://www.dchealthmatters.org/"
      >DC Health Matters (Community Health Indicators)</a
    >
  </li>
  <li><a href="https://opendata.dc.gov/">Open Data DC</a></li>
  <li>
    <a
      href="https://dchealth.dc.gov/service/behavioral-risk-factor-surveillance-system"
      >DC Health BRFSS</a
    >
  </li>
  <li><a href="https://dckidscount.org/">DC KIDS Count</a></li>
</ul>
