<ng-container *ngIf="vm$ | async as vm">
  <h1>Record Detail</h1>
  <h2>{{ vm.record!.payload | getRecordIdentifier }}</h2>
  <dbh-file-information
    [providerName]="vm.submission.provider_name"
    [fileName]="vm.submission.file_name"
    reportingPeriod="August, 2022"
    [submissionDate]="vm.submission.created_at"
  ></dbh-file-information>
  <dbh-data-field-chart [record]="vm.record!"></dbh-data-field-chart>

  <dbh-error-group errorType="Fatal" [record]="vm.record!"></dbh-error-group>
  <dbh-error-group errorType="Critical" [record]="vm.record!"></dbh-error-group>
  <dbh-error-group errorType="Warning" [record]="vm.record!"></dbh-error-group>
  <dbh-valid-data [record]="vm.record!"></dbh-valid-data>
</ng-container>
