<ng-container *ngIf="issuesByDataField">
  <table>
    <thead>
      <tr>
        <th>Field Name</th>
        <th># of Records</th>
        <!-- <th>Category</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let issue of issuesByDataField">
        <td>
          {{ issue.fieldName }}
        </td>
        <td>
          {{ issue.affectedRecords }}
        </td>
        <!-- <td class="category-list">
          <span *ngFor="let category of issue.categoryCounts"
            >{{ category.categoryName }} ({{ category.recordCount }})</span
          >
        </td> -->
      </tr>
    </tbody>
  </table>
</ng-container>
