<ng-container *ngIf="errorInformation as info">
  <h3>Data Field Breakdown</h3>
  <div
    class="chart"
    [style.--fatal]="errorPercentages.fatal"
    [style.--critical]="errorPercentages.critical"
    [style.--warning]="errorPercentages.warning"
    [style.--valid]="'100%'"
  ></div>
  <div class="legend">
    <div class="fatal">
      <span class="color-block"></span>
      <span
        >Fatal Error
        {{ errorInformation.fatal.totalCountOfFieldsWithError }}</span
      >
      <span>{{ roundPercentages.fatal }}%</span>
    </div>
    <div class="critical">
      <span class="color-block"></span>
      <span
        >Critical Error
        {{ errorInformation.critical.totalCountOfFieldsWithError }}</span
      >
      <span>{{ roundPercentages.critical }}%</span>
    </div>
    <div class="warning">
      <span class="color-block"></span>
      <span
        >Warning
        {{ errorInformation.warning.totalCountOfFieldsWithError }}</span
      >
      <span>{{ roundPercentages.warning }}%</span>
    </div>
    <div class="valid">
      <span class="color-block"></span>
      <span>Valid {{ dataFieldsWithoutErrors.length }} </span>
      <span>{{ roundPercentages.valid }}%</span>
    </div>
  </div>
</ng-container>
