label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5ch;
}

hr {
  margin: 3ch 0;
}

#claim-search {
  padding: 0.5rem 0.75rem;
  width: 30ch;
  border-width: 0.5px;
  margin-right: 1ch;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 26 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center right;
}

table {
  border: none;
  font-size: 1em;
}

td {
  border: none;
  border-bottom: 0.5px solid #605e5c;
}

td.wide {
  word-wrap: break-word;
  max-width: 250px;
}

th {
  border: none;
  border-bottom: 1px solid gray;
  text-align: left;
  vertical-align: top;
}

details {
  margin: 2ch 0;
}

.criterion {
  display: flex;
  gap: 1ch;
  margin: 1ch 0;
  > div {
    margin: 1ch 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  button {
    color: #a21e1f;
    border-color: #a21e1f;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  height: 32px;
  margin-top: 1ch;
  justify-content: flex-end;
  width: 100%;
}

.pagination a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 32px;
  height: 32px;

  background: #e1dfdd;
  border-radius: 5px;
  text-decoration: none;
  color: #323130;
}

.pagination .active {
  background: #605e5c;
  color: white;
}
