main {
  background: var(--background);
}

.notAuthorized {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background: var(--background);
  > div {
    width: 375px;
    text-align: center;
  }
}
