.debug-toggle {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.debug-container {
  display: flex;
  gap: 2rem;
}

button:disabled {
  cursor: not-allowed;
}

.coverage-period-selection {
  display: flex;
  gap: 2rem;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.input-group {
  label {
    display: block;
  }
}
