::ng-deep .env-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--warning-120);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:after,
    &:before {
      $size: 14px;

      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M85.57 446.25h340.86a32 32 0 0 0 28.17-47.17L284.18 82.58c-12.09-22.44-44.27-22.44-56.36 0L57.4 399.08a32 32 0 0 0 28.17 47.17Z' /%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='m250.26 195.39 5.74 122 5.73-121.95a5.74 5.74 0 0 0-5.79-6h0a5.74 5.74 0 0 0-5.68 5.95Z' /%3E%3Cpath fill='%23fff' d='M256 397.25a20 20 0 1 1 20-20 20 20 0 0 1-20 20Z' /%3E%3C/svg%3E%0A");
      background-size: $size $size;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 8px;
      height: ($size * 1.3);
      width: ($size * 1.3);
    }
  }
}
