<form [formGroup]="passwordForm" class="password-form">
  <h1>Reset Password</h1>
  <div class="input-group">
    <label for="current_password">Current Password</label>
    <div class="password-input">
      <input
        [type]="showCurrentPassword ? 'text' : 'password'"
        name="current_password"
        id="current_password"
        formControlName="current_password"
        data-cy="current_password"
      />
      <button
        data-cy="show-password"
        (click)="showCurrentPassword = !showCurrentPassword"
        class="toggle-password eye-button {{
          showCurrentPassword ? 'closed' : 'open'
        }}"
      >
        {{ showCurrentPassword ? 'hide password' : 'show password' }}
      </button>
    </div>
    <ng-container *ngIf="current_password.errors && current_password.dirty">
      <div class="error-message error">
        <p *ngIf="current_password.errors['required']">
          Current password is required.
        </p>
        <p *ngIf="current_password.errors['pattern']">
          Your password must include at least 1 lowercase letter, 1 uppercase
          letter, 1 number, and 1 character that’s not a number, letter, or
          space.
        </p>
        <p *ngIf="current_password.errors['minlength']">
          Password must be at least 8 characters.
        </p>
      </div>
    </ng-container>
    <label for="password">New Password</label>
    <div class="password-input">
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        id="password"
        formControlName="password"
        data-cy="password"
      />
      <button
        data-cy="show-password"
        (click)="showPassword = !showPassword"
        class="toggle-password eye-button {{
          showPassword ? 'closed' : 'open'
        }}"
      >
        {{ showPassword ? 'hide password' : 'show password' }}
      </button>
    </div>
    <ng-container *ngIf="password.errors && password.dirty">
      <div class="error-message error">
        <p *ngIf="password.errors['required']">Current password is required.</p>
        <p *ngIf="password.errors['pattern']">
          Your password must include at least 1 lowercase letter, 1 uppercase
          letter, 1 number, and 1 character that’s not a number, letter, or
          space.
        </p>
        <p *ngIf="password.errors['minlength']">
          Password must be at least 8 characters.
        </p>
      </div>
    </ng-container>
    <label for="password_confirmation">Password Confirmation</label>
    <div class="password-input">
      <input
        [type]="showPasswordConfirmation ? 'text' : 'password'"
        name="password_confirmation"
        id="password_confirmation"
        formControlName="password_confirmation"
        data-cy="password_confirmation"
      />
      <button
        data-cy="show-password"
        (click)="showPasswordConfirmation = !showPasswordConfirmation"
        class="toggle-password eye-button {{
          showPasswordConfirmation ? 'closed' : 'open'
        }}"
      >
        {{ showPasswordConfirmation ? 'hide password' : 'show password' }}
      </button>
    </div>
  </div>
  <ng-container
    *ngIf="password_confirmation.errors && password_confirmation.dirty"
  >
    <div class="error-message error">
      <p *ngIf="password_confirmation.errors['required']">
        Current password is required.
      </p>
      <p *ngIf="password_confirmation.errors['pattern']">
        Your password must include at least 1 lowercase letter, 1 uppercase
        letter, 1 number, and 1 character that’s not a number, letter, or space.
      </p>
      <p *ngIf="password_confirmation.errors['minlength']">
        Password must be at least 8 characters.
      </p>
    </div>
  </ng-container>
  <div class="result error">{{ result$ | async }}</div>
  <!-- [disabled]="passwordForm.status === 'INVALID'" -->
  <button type="button" data-cy="reset-button" (click)="resetPassword()">
    Reset Password
  </button>
</form>
