<h2>BHSD File Submission History</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Submission Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Total Records</th>
      <th>Pass</th>
      <th>Fail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let submission of submissions$ | async">
      <td>
        <a [routerLink]="submission.id">{{ submission.id }}</a>
      </td>
      <td>{{ submission.submission_date }}</td>
      <td>{{ submission.coverage_start }}</td>
      <td>{{ submission.coverage_end }}</td>
      <td>{{ submission.number_of_records ?? 'no value' }}</td>
      <td>{{ submission.pass_count ?? 'no value' }}</td>
      <td>{{ submission.fail_count ?? 'no value' }}</td>
    </tr>
  </tbody>
</table>

<p>Total records = Pass + Fail</p>
<p>Pass: Count of unique records with NO errors in any of the data fields.</p>
<p>
  Fail: Count of unique records with a failure in one or more data fields. A
  failure record will not be accepted for further process and needs to be
  resubmitted.
</p>
