<h2>BHSD File Submission History</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Submission Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Group</th>
      <th>File Type</th>
      <th>Status</th>
      <th>Warnings</th>
      <th>Errors</th>
      <th>Total Records</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let submission of submissions$ | async">
      <td>
        <a [routerLink]="submission.id">{{ submission.id }}</a>
      </td>
      <td>{{ submission.submission_date }}</td>
      <td>{{ submission.coverage_start }}</td>
      <td>{{ submission.coverage_end }}</td>
      <td>{{ submission.record_group ?? 'no value' }}</td>
      <td>{{ submission.file_type ?? 'no value' }}</td>
      <td>Status?</td>
      <td>{{ submission.record_warning_count ?? 'no value' }}</td>
      <td>{{ submission.record_failure_count ?? 'no value' }}</td>
      <td>{{ submission.number_of_records ?? 'no value' }}</td>
    </tr>
  </tbody>
</table>
