<ul class="breadcrumbs">
  <li>
    <a routerLink="/search-and-query" routerLinkActive="active">Search</a>
  </li>
  <li><a routerLink="/search-and-query/claim-search">Claim Search</a></li>
  <li>Advanced Claim Search</li>
</ul>
<h1>Advanced Claim Search</h1>
<p>Show results matching all the following criteria.</p>
<div *ngFor="let criterion of criteria; let index = index">
  <div class="criterion">
    <div>
      <div>
        <label for="identifier">Identifier</label>
        <select
          name="identifier"
          [attr.data-id]="index"
          [value]="criterion.selector ?? ''"
          (change)="selectorSet($event)"
        >
          <option value="" disabled="true">Selector</option>
          <option data-valueType="date" value="adjudication_date">
            Adjudication Date
          </option>
          <option
            data-valueType="date_range"
            value="first_date_of_service|last_date_of_service"
          >
            Service Period
          </option>
          <option data-valueType="text" value="billing_medicaid_id">
            Medicaid ID
          </option>
          <option data-valueType="select" value="adjudication_status">
            Status
          </option>
          <option data-valueType="select" value="procedure_code">
            Procedure
          </option>
          <option data-valueType="select" value="billing_provider_type_code">
            Provider Type
          </option>
          <option data-valueType="text" value="billing_provider">
            Provider Name
          </option>
        </select>
      </div>
    </div>
    <div>
      <div>
        <label for="relative">Relative</label>
        <select
          name="relative"
          id="relative"
          [attr.data-id]="index"
          [disabled]="!criterion.valueType"
          (change)="relativeSet($event)"
          [value]="criterion.relative ?? ''"
        >
          <option value="" disabled="true">Relative</option>
          <ng-container
            *ngIf="
              criterion.valueType === 'date' ||
                criterion.valueType === 'date_range';
              else textSelect
            "
          >
            <option value="=" *ngIf="criterion.valueType === 'date'">Is</option>
            <option value="<">Is Before</option>
            <option value=">">Is After</option>
            <option value="><" *ngIf="criterion.valueType === 'date_range'">
              Contains
            </option>
          </ng-container>
          <ng-template #textSelect>
            <option value="=">Is</option>
            <option value="!=" *ngIf="criterion.valueType === 'select'">
              Is Not
            </option>
            <option value="LIKE" *ngIf="criterion.valueType === 'text'">
              Contains
            </option>
            <option value="NOT LIKE" *ngIf="criterion.valueType === 'text'">
              Does Not Contain
            </option>
          </ng-template>
        </select>
      </div>
    </div>
    <div>
      <div>
        <label for="value">Value</label>
        <ng-container *ngIf="criterion.valueType === 'select'; else nonSelect">
          <select
            name="value"
            id="value"
            [attr.data-id]="index"
            [disabled]="!criterion.relative"
            (change)="valueSet($event)"
            [value]="criterion.value ?? ''"
          >
            <option value="" disabled="true">Select Value</option>
            <ng-container *ngIf="criterion.options; else asyncOptions">
              <ng-container *ngFor="let option of criterion.options">
                <option [value]="option.value">{{ option.display }}</option>
              </ng-container>
            </ng-container>
            <ng-template #asyncOptions>
              <ng-container *ngIf="criterion.asyncOptions | async as options">
                <ng-container *ngFor="let option of options">
                  <option [value]="option.value">{{ option.value }}</option>
                </ng-container>
              </ng-container>
            </ng-template>
          </select>
        </ng-container>
        <ng-template #nonSelect>
          <input
            [type]="
              criterion.valueType === 'date' ||
              criterion.valueType === 'date_range'
                ? 'date'
                : 'text'
            "
            [attr.data-id]="index"
            [disabled]="!criterion.relative"
            id="value"
            name="value"
            [value]="criterion.value ?? ''"
            (change)="valueSet($event)"
            (keyup)="valueSet($event)"
          />
        </ng-template>
      </div>
    </div>
    <div>
      <button
        type="submit"
        class="button-secondary"
        (click)="removeCondition(index)"
      >
        Remove Condition
      </button>
    </div>
  </div>
</div>
<button type="submit" class="add-button" (click)="addCondition()">
  <span>&#43;</span> Add Additional Criteria
</button>
<br />
<button
  type="submit"
  class="button search-button"
  (click)="submitAdvancedSearch()"
  [disabled]="searchDisabled"
>
  Search
</button>

<ng-container *ngIf="searchResults$ | async as results">
  <hr />
  <h2>Search Results</h2>
  <ng-container *ngIf="results.claim_count === 0; else hasResults">
    <p>Your search returned 0 results, please try a new search.</p>
  </ng-container>

  <ng-template #hasResults>
    <table>
      <thead>
        <tr>
          <th>Claim ID<br />(TCN - Line No.)</th>
          <th>Adjudication<br />Date</th>
          <th>Medicaid ID</th>
          <th>Service Period</th>
          <th>Procedure<br />Code</th>
          <th>Provider</th>
          <th>Provider<br />Type</th>
          <th>Status</th>
          <th>$ Billed</th>
          <th>$ Payed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let claim of results.claims">
          <td>
            <a [routerLink]="['/claims', claim.id]">{{
              claim.claim_record_id
            }}</a>
          </td>
          <td>{{ claim.adjudication_date | date: 'MM/dd/yyyy' }}</td>
          <td>{{ claim.billing_medicaid_id ?? '' }}</td>
          <td>
            {{ claim.first_date_of_service | date: 'MM/dd/yyyy' }}&ndash;{{
              claim.last_date_of_service | date: 'MM/dd/yyyy'
            }}
          </td>
          <td>{{ claim.procedure_code }}</td>
          <td class="wide">{{ claim.billing_provider ?? '' }}</td>
          <td>{{ claim.billing_provider_type_code }}</td>
          <td>{{ claim.adjudication_status }}</td>
          <td>{{ claim.billed_amount | currency }}</td>
          <td>{{ claim.paid_amount | currency }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      Page
      <ng-container *ngFor="let pageNum of getPages(results.claim_count, page)">
        <a
          *ngIf="pageNum !== '...'"
          [ngClass]="{ active: page === pageNum.toString() }"
          [routerLink]=""
          (click)="updatePage(pageNum.toString())"
          >{{ pageNum }}
        </a>
        <div *ngIf="pageNum === '...'">...</div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>
