<h1>ITE Login</h1>
<form [formGroup]="userForm">
  <div class="input-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      formControlName="email"
      placeholder="name@example.com"
      data-cy="email"
    />
    <label for="email">Password</label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      name="password"
      id="password"
      formControlName="password"
      data-cy="password"
    />
    <div data-cy="show-password" (click)="showHidePassword()">
      {{ showPassword ? 'hide password' : 'show password' }}
    </div>
  </div>
  <button
    [disabled]="userForm.status === 'INVALID'"
    type="button"
    data-cy="submit-user"
    (click)="loginUser()"
  >
    Sign In
  </button>

  {{ userForm.get('password')?.errors | json }}
</form>
