<form [formGroup]="userForm" class="login-form">
  <h1>ITE Login</h1>
  <div class="input-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      formControlName="email"
      placeholder="name@example.com"
      data-cy="email"
    />
    <label for="email">Password</label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      name="password"
      id="password"
      formControlName="password"
      data-cy="password"
    />
    <button
      data-cy="show-password"
      (click)="showPassword = !showPassword"
      class="toggle-password"
    >
      {{ showPassword ? 'hide password' : 'show password' }}
    </button>
  </div>
  <button
    [disabled]="userForm.status === 'INVALID'"
    type="button"
    data-cy="submit-user"
    (click)="loginUser()"
  >
    Sign In
  </button>
</form>
