<form [formGroup]="userForm" class="login-form">
  <h1>ITE Login</h1>
  <div class="input-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      formControlName="email"
      placeholder="name@example.com"
      data-cy="email"
    />
    <label for="email">Password</label>
    <div class="password-input">
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        id="password"
        formControlName="password"
        data-cy="password"
      />
      <button
        data-cy="show-password"
        (click)="showPassword = !showPassword"
        class="toggle-password eye-button {{
          showPassword ? 'closed' : 'open'
        }}"
      >
        {{ showPassword ? 'hide password' : 'show password' }}
      </button>
    </div>
  </div>
  <div class="result error">{{ result$ | async }}</div>
  <button
    [disabled]="userForm.status === 'INVALID'"
    type="button"
    data-cy="login-button"
    (click)="loginUser()"
  >
    Sign In
  </button>
</form>
