.button + .button {
  margin-left: 2ch;
}

li {
  margin-bottom: 1ch;
}

thead tr:first-of-type {
  th:nth-child(odd) {
    background: var(--primary-130);
    color: var(--white);
  }
  th:nth-child(even) {
    background: var(--secondary-130);
    color: var(--white);
  }
}

thead tr:nth-child(2) th:nth-child(-n + 3),
thead tr:nth-child(2) th:nth-child(6),
thead tr:nth-child(2) th:nth-child(7) {
  color: var(--primary-130);
}

thead tr:nth-child(2) th:nth-child(4),
thead tr:nth-child(2) th:nth-child(5),
thead tr:nth-child(2) th:nth-child(8),
thead tr:nth-child(2) th:nth-child(9) {
  color: var(--secondary-130);
}

td:first-of-type {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
