:host {
  --needs-resubmission-color: #612c00;
  --current-color: #e1dfdd;
  --expecting-submission-color: #e0ab7f;
  --past-due-color: #c15800;
  --status-color: pink;
}

.summary-with-chart {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.chart {
  height: 2rem;
  width: 50ch;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--needs-resubmission-color, grey) 0% var(--needsResubmission),
    var(--expecting-submission-color) var(--needsResubmission)
      var(--expectingSubmission),
    var(--past-due-color) var(--expectingSubmission) var(--pastDue),
    var(--current-color) var(--pastDue) 100%
  );
  // outline: 5px solid white;
}

.color-block {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: var(--status-color);
}

.needs-resubmission {
  --status-color: var(--needs-resubmission-color);
}

.current {
  --status-color: var(--current-color);
}
.past-due {
  --status-color: var(--past-due-color);
}
.expecting-submission {
  --status-color: var(--expecting-submission-color);
}

.legend {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.legend > div {
  display: flex;
  gap: 1rem;
}
