<div class="widget">
  <div class="widget-header">
    <h2><label for="client-search">Client Search</label></h2>
  </div>
  <div class="widget-content">
    <div class="search-box">
      <input
        type="text"
        name="client-search"
        id="client-search"
        placeholder="Search (Name, Client ID, SSN)"
      />
      <button type="button" aria-label="search">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.5 12.5L17 17M14 8.5C14 11.5376 11.5376 14 8.5 14C5.46243 14 3 11.5376 3 8.5C3 5.46243 5.46243 3 8.5 3C11.5376 3 14 5.46243 14 8.5Z"
            stroke="#455561"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
    <h3>Recent Searches</h3>
    <ul class="recent-searches">
      <li><a routerLink="/search-and-query/client-search">James Brown</a></li>
      <li>
        <a routerLink="/search-and-query/client-search">Robert Griffith</a>
      </li>
      <li><a routerLink="/search-and-query/client-search">Zach Ertz</a></li>
      <li><a routerLink="/search-and-query/client-search">Jason Allen</a></li>
      <li><a routerLink="/search-and-query/client-search">Kurt Werner</a></li>
    </ul>
  </div>
</div>

<div class="widget" (click)="navigateTo('/provider-gateway')">
  <div class="widget-header"><h2>Provider Gateway</h2></div>
  <div class="widget-content">
    <h3>Reporting Period: {{ thisReportingPeriod }}</h3>
    <ng-container *ngIf="submissionStatus$ | async as submissions">
      <dbh-submission-status-chart
        [submissions]="submissions"
      ></dbh-submission-status-chart>
    </ng-container>
  </div>
</div>

<div class="widget" (click)="navigateTo('/executive-dashboards')">
  <div class="widget-header"><h2>Executive Dashboards</h2></div>
  <div class="widget-content">
    <h3 style="margin-bottom: 0px">{{ thisReportingPeriod }}</h3>
    <img
      src="/assets/executive-dashboard.png"
      alt="image of substance use and mental health treatment"
    />
  </div>
</div>

<div class="widget" (click)="navigateTo('/claims/adjudicated-claims')">
  <div class="widget-header"><h2>Claims & Finance</h2></div>
  <div class="widget-content">
    <h3>FY21-Q1 Adjudicated FFS Claims</h3>
    <table class="widget-table">
      <thead>
        <tr>
          <th>Payor</th>
          <th class="numeric">Total Paid</th>
          <th class="numeric negative-money">Total Denied</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Medicaid/Alliance</td>
          <td class="numeric">{{ '57495' | currency }}</td>
          <td class="numeric negative-money">-$100,000</td>
        </tr>
        <tr>
          <td>Medicare</td>
          <td class="numeric">{{ '57495' | currency }}</td>
          <td class="numeric negative-money">{{ '2016' | currency }}</td>
        </tr>
        <tr>
          <td>Commercial</td>
          <td class="numeric">{{ '57495' | currency }}</td>
          <td class="numeric negative-money">{{ '0' | currency }}</td>
        </tr>
      </tbody>
    </table>
    <div style="margin-top: 1rem; color: #605e5c">
      Adjudicated between 10/1/2021 and 12/31/2021
    </div>
  </div>
</div>
