<h1>Submission Summary</h1>

<h2>File Information</h2>

<ng-container *ngIf="submission$ | async as submission">
  <div class="file-info">
    <span>Provider: </span> <span>{{ providerName$ | async }}</span>
  </div>
  <div class="file-info">
    <span>Reporting Period: </span>
    <span
      >{{ submission.coverage_start }} to {{ submission.coverage_end }}</span
    >
  </div>
  <div class="file-info">
    <span>File Name: </span> <span>{{ submission.file_name }} </span>
  </div>
  <div class="file-info">
    <span>Submission Date: </span>
    <span>{{ submission.created_at | date }} </span>
  </div>
</ng-container>
