:host {
  --fail-color: #612c00;
  --pass-color: #e1dfdd;
}

.file-info {
  span:first-child {
    font-weight: bold;
    display: inline-block;
    width: 13rem;
  }
}

.summary-with-chart {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.chart {
  height: 2rem;
  width: 50ch;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--pass-color, grey) 0% var(--pass),
    var(--fail-color, red) var(--pass) var(--fail)
  );
}

table {
  width: max-content;
  border-collapse: collapse;
  border: 3px solid black;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid grey;
}

.color-block {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: var(--status-color);
}

.fail .color-block {
  --status-color: var(--fail-color);
}

.pass .color-block {
  --status-color: var(--pass-color);
}

.legend {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.legend > div {
  display: flex;
  gap: 1rem;
}

.definitions {
  margin-top: 1rem;
  cursor: pointer;
}
