<h1>Submission Summary</h1>

<ng-container *ngIf="submission$ | async as submission">
  <h2>File Information</h2>
  <div class="file-info">
    <span>Provider: </span> <span>{{ providerName$ | async }}</span>
  </div>
  <div class="file-info">
    <span>Reporting Period: </span>
    <span
      >{{ submission.coverage_start | date }} to
      {{ submission.coverage_end | date }}</span
    >
  </div>
  <div class="file-info">
    <span>File Name: </span> <span>{{ submission.file_name }} </span>
  </div>
  <div class="file-info">
    <span>Submission Date: </span>
    <span>{{ submission.created_at | date }} </span>
  </div>

  <div class="summary-with-chart">
    <div class="summary">
      <h2>Validation Summary</h2>
      <div class="file-info">
        <span>Passing Records</span>
        <dbh-record-count
          [records]="submission.records"
          status="Pass"
        ></dbh-record-count>
      </div>
      <div class="file-info">
        <span>Failing Records </span>
        <dbh-record-count
          [records]="submission.records"
          status="Fail"
        ></dbh-record-count>
      </div>
      <div class="file-info">
        <span>Total Records Submitted </span>
        <span>{{ submission.records.length }} </span>
      </div>
    </div>
    <div
      class="chart"
      [style.--pass]="
        (submission.records | recordCount: 'Pass':'relative') + '%'
      "
      [style.--fail]="
        (submission.records | recordCount: 'Fail':'relative') + '%'
      "
    ></div>
  </div>

  <p>
    Pass: Counts the number of unique records that have no fatal or critical
    error identified in any of the key fields or required fields. It may include
    records that have warnings associated with optional fields only.
  </p>

  <p>
    Fail: Counts the number of unique records that have at least one fatal or
    critical error identified in one or more key fields or required fields.
    These records may have warnings associated with optional fields in addition
    to fatal or critical errors. Records in this category will not be considered
    valid and the provider must resubmit the correct data for these failed
    records.
  </p>
</ng-container>
