<h1>Submission Summary</h1>

<!-- <pre>
  {{ submissionV2$ | async | json }}
</pre> -->

<ng-container *ngIf="submission$ | async as submission">
  <dbh-file-information [submission]="submission"></dbh-file-information>

  <div class="summary">
    <h2>Validation Breakdown</h2>
    <h3>Records Submitted: {{ submission.records.length }}</h3>
    <div
      class="chart"
      [style.--pass]="
        (submission.records | recordCount: 'Pass':'relative') + '%'
      "
      [style.--fail]="
        (submission.records | recordCount: 'Fail':'relative') + '%'
      "
    ></div>
    <div class="legend">
      <div class="pass">
        <span class="color-block"></span>
        <span>Pass {{ submission.records | recordCount: 'Pass' }}</span>
        <span>{{ submission.records | recordCount: 'Pass':'relative' }}%</span>
      </div>
      <div class="fail">
        <span class="color-block"></span>
        <span>Fail {{ submission.records | recordCount: 'Fail' }}</span>
        <span>{{ submission.records | recordCount: 'Fail':'relative' }}%</span>
      </div>
    </div>
    <details class="definitions">
      <summary>Definitions</summary>
      <p>Pass: Records with (a) warning(s) only or no errors.</p>
      <p>Fail: Records with at least one fatal or critical error.</p>
    </details>
  </div>
</ng-container>

<ng-container *ngIf="submissionV2$ | async as submission">
  <ng-container *ngIf="viewType === 'record'; else dataField">
    <div class="group-header">
      <h2>Issues by Record</h2>
      <button (click)="viewType = 'dataField'" class="button" type="button">
        View Issues by Data Field
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Record ID</th>
          <th>Pass/Fail</th>
          <th>Fatal Errors</th>
          <th>Critical Errors</th>
          <th>Warnings</th>
        </tr>
      </thead>
      <tbody>
        <dbh-record-list
          *ngFor="let record of submission.records | recordSort"
          [record]="record"
        ></dbh-record-list>
      </tbody>
    </table>
  </ng-container>

  <ng-template #dataField>
    <div class="group-header">
      <h2>Issues by Data Field</h2>
      <button (click)="viewType = 'record'" class="button" type="button">
        View Issues by Record
      </button>
    </div>
    <dbh-issues-by-data-field
      [records]="submission.records"
    ></dbh-issues-by-data-field>
  </ng-template>
</ng-container>
