:host {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: 'nav main';
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
}

.sidebar {
  background-color: var(--primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content max-content;
  grid-template-areas: 'title' 'nav' 'logo' 'user';
  gap: 1.5rem;
  background-position: left bottom 36px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='166' height='320' viewBox='0 0 166 320' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M0 109.12V0.653809L83.3385 86.3399V86.4169V86.6479V86.8804V87.1144V87.3499V87.5869V87.8253V88.0653V88.3067V88.5497V88.7941V89.0401V89.2875V89.5365V89.787V90.039V90.2925V90.5476V90.8042V91.0623V91.3219V91.5831V91.8459V92.1102V92.376V92.6434V92.9123V93.1828V93.4549C83.3385 111.051 79.5014 126.015 71.651 136.482C63.9327 146.773 52.0026 153.171 34.6353 153.171H7.17074V113.12C7.17074 110.911 5.37988 109.12 3.17074 109.12H0ZM0 320V228.565L2.38416 212.234V206.39C3.1925 208.198 4.1309 210.012 5.17304 211.808C8.85094 218.146 14.0341 224.634 20.1549 230.468C32.2826 242.028 48.7598 251.631 65.3133 251.631H65.49H65.6661H65.8417H66.0167H66.1912H66.3651H66.5384H66.7111H66.8833H67.055H67.2261H67.3966H67.5666H67.736H67.9048H68.0731H68.2409H68.4081H68.5747H68.7408H68.9064H69.0714H69.2358H69.3997H69.5631H69.7259H69.8882H70.0499H70.211H70.3717H70.5318H70.6913H70.8503H71.0088H71.1667H71.3241H71.481H71.6373H71.793H71.9483H72.103H72.2572H72.4108H72.5639H72.7165H72.8686H73.0201H73.1711H73.3216H73.4715H73.621H73.7699H73.9182H74.0661H74.2134H74.3602H74.5065H74.6522H74.7975H74.9422H75.0864H75.2301H75.3733H75.5159H75.6581H75.7997H75.9408H76.0814H76.2215H76.3611H76.5002H76.6387H76.7768H76.9144H77.0514H77.1879H77.324H77.4595H77.5945H77.7291H77.8631H77.9966H78.1296H78.2622H78.3942H78.5257H78.6568H78.7873H78.9173H79.0469H79.176H79.3045H79.4326H79.5602H79.6873H79.8139H79.94H80.0656H80.1908H80.3154H80.4396H80.5633H80.6865H80.8092H80.9315H81.0532H81.1745H81.2953H81.4156H81.4497L9.46369 320H0ZM91.3337 94.5603C91.1764 112.713 87.1256 129.182 78.051 141.282C68.6604 153.803 54.2389 161.171 34.6353 161.171H7.17074V193.355C7.17074 197.07 8.79139 202.103 12.0925 207.793C15.3467 213.401 20.0355 219.302 25.6746 224.677C37.0667 235.536 51.6608 243.631 65.3133 243.631H65.49H65.6661H65.8417H66.0167H66.1912H66.3651H66.5384H66.7111H66.8833H67.055H67.2261H67.3966H67.5666H67.736H67.9048H68.0731H68.2409H68.4081H68.5747H68.7408H68.9064H69.0714H69.2358H69.3997H69.5631H69.7259H69.8882H70.0499H70.211H70.3717H70.5318H70.6913H70.8503H71.0088H71.1667H71.3241H71.481H71.6373H71.793H71.9483H72.103H72.2572H72.4108H72.5639H72.7165H72.8686H73.0201H73.1711H73.3216H73.4715H73.621H73.7699H73.9182H74.0661H74.2134H74.3602H74.5065H74.6522H74.7975H74.9422H75.0864H75.2301H75.3733H75.5159H75.6581H75.7997H75.9408H76.0814H76.2215H76.3611H76.5002H76.6387H76.7768H76.9144H77.0514H77.1879H77.324H77.4595H77.5945H77.7291H77.8631H77.9966H78.1296H78.2622H78.3942H78.5257H78.6568H78.7873H78.9173H79.0469H79.176H79.3045H79.4326H79.5602H79.6873H79.8139H79.94H80.0656H80.1908H80.3154H80.4396H80.5633H80.6865H80.8092H80.9315H81.0532H81.1745H81.2953H81.4156H81.5355H81.6548H81.7737H81.8921H82.0101H82.1275H82.2445H82.3611H82.4771H82.5927H82.7078H82.8224H82.9366H83.0503H83.1636H83.2764H83.3887H83.5005H83.6119H83.7228H83.8333H83.9433H84.0528H84.1619H84.2706H84.3787H84.4864H84.5937H84.7005H84.8068H84.9127H85.0182H85.1232H85.2277H85.3318H85.4354H85.5386H85.6414H85.7437H85.8455H85.9469H86.0479H86.1484H86.2485H86.3481H86.4473H86.5461H86.6444H86.7423H86.8397H86.9367H87.0333H87.1294H87.2251H87.3204H87.4152H87.5096H87.6036H87.6971H87.7903H87.8829H87.9752H88.067H88.1584H88.2494H88.3399H88.4301H88.5198H88.609H88.6979H88.7863H88.8744H88.962H89.0491H89.1359H89.2223H89.3082H89.3937H89.4788H89.5635H89.6478H89.7316H89.8151H89.873L95.9243 237.884V195.715C95.9243 193.506 97.7152 191.715 99.9243 191.715H110.87V114.647L91.3337 94.5603ZM118.87 122.872V195.715C118.87 197.924 117.079 199.715 114.87 199.715H103.924V230.286L166 171.33L118.87 122.872ZM93.6314 161.104C93.6314 165.448 90.1096 168.97 85.7652 168.97C81.4209 168.97 77.8991 165.448 77.8991 161.104C77.8991 156.759 81.4209 153.238 85.7652 153.238C90.1096 153.238 93.6314 156.759 93.6314 161.104ZM13.3968 85.5888C17.7411 85.5888 21.2629 82.0671 21.2629 77.7227C21.2629 73.3783 17.7411 69.8566 13.3968 69.8566C9.05241 69.8566 5.53061 73.3783 5.53061 77.7227C5.53061 82.0671 9.05241 85.5888 13.3968 85.5888Z' fill='url(%23paint0_linear_809_55175)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_809_55175' x1='82.6054' y1='83.0613' x2='-78.3946' y2='244.061' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

  .application-title {
    padding: 1.5rem 1.5rem 0 1.5rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white);
  }
}

.user-email {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  max-width: 20ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sub-menu {
  display: none;
}

.menu-parent.active ~ .sub-menu {
  display: block;
}

.icon {
  fill: transparent;
}

dbh-logo {
  grid-area: logo;
}

.user-info {
  grid-area: user;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--primary-140);
  font-size: 0.75rem;
  max-width: 100%;
}

.nav {
  grid-area: nav;
  padding: 0 1.5rem;

  .menu-parent {
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
  }

  li {
    padding: 0.5rem 0;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }

  a.active {
    font-weight: 800;
  }
}

main {
  grid-area: main;
  padding: 1.5rem;
  overflow-y: auto;
}

.menu-parent {
  color: var(--white);
}

.menu-group + .menu-group {
  margin-top: 1rem;
}
